.second-calculator {
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
}

.second-calculator__box {
  border: 1px solid black;
  margin: 10px;
}

.second-calculator__input {
  margin: 10px;
}

.second-calculator__btn {
  margin-right: 5px;
}

.second-calculator__span {
  margin-top: 25px;
  margin-right: 10px;
}